@import "imports.scss";
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: futura-pt, sans-serif;
}
.homepage {
  @include center;
  width: 100%;
  margin: auto;
  height: 100vh;
  &_header {
    @include center;
    width: 100%;
    max-width: 1400px;
    height: 100%;

    margin: auto;
    justify-content: space-evenly;
    &_nav {
      @include center;
      height: 40%;

      flex-direction: column;
      justify-content: space-around;
      &--nav__link {
        text-decoration: none;
        color: black;
        // border-bottom: black 4px solid;
        font-weight: bold;
        font-size: 3rem;
      }
    }
    .img {
      width: 10%;
      img {
        width: 100%;
      }
    }
  }
}
