body {
    margin: 0px;
}

header {
    overflow: hidden;
}

.banner-container {
    display: flex;
    width: 300%;
    animation: bannermove 20s linear infinite;
    border-bottom: 1px solid black;
}

.moving-banner {
    display: flex;
    height: 5vh;
    width: 100%;
}

.banner-svg {
    display: block;
    height: 100%;
}

.home-container {
    margin-left: 16px;
}

.home-header {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    width: 80px;
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
}

@media only screen and (max-width: 1200px){
    .last, .mid {
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .last, .mid, .begin {
        display: none;
    }
}
