body {
    margin: 0px;
}

.flex-container {
    margin: 0px 18px;
    display: flex;
    flex-direction: column
}

.image {
    max-width: 100%;
}

.navbar {
    height: 40px;
    margin: 0px 18px;
    display: flex;
    justify-content: space-between;
}
.navbar a {
    align-self:flex-end;
}
a p {
    margin-bottom: 8px;
}

/****** TYPOS **********/
p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    font-style: normal;
    margin: 0px;
}
h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 600;
    font-size: 1em;
    font-style: normal;
    margin: 0px;
}
h1 {
    font-family: 'swear-display', serif;
    font-weight: 100;
    font-size: 3.5em;
    font-style: normal;  
    margin: 0px 0px 12px 0px;
}
a, a:visited {
    color: #617F80;
    text-decoration: none;
}

a h3:hover {
    filter: blur(0px)!important;
}

    @media only screen and (min-width: 475px) {
        .navbar, .flex-container {
            margin-left: 100px ;
            margin-right: 100px ;
        }
    }
    /*Tablets Device*/
    @media only screen and (min-width: 640px) {

        .navbar, .flex-container {
            margin-left: 18px ;
            margin-right: 18px ;
        }
        .navbar {
            max-width: 33%;
        }
        .navbar a {
            align-self: center;
        }
        .flex-container {
            display: grid;
            grid-template-columns: minmax(150px, 33%) minmax(150px, 50%);
            grid-template-rows: repeat(3, 400px);
            grid-template-areas: 
                "images-1 content-1"
                "images-2 content-2";
        }
        /* items */
        .content-1 {
            grid-area: content-1;
        }
        .content-2 {
            grid-area: content-2;
        }
        .image-1 {
            grid-column-start:1;
            grid-row-start: 1;
        }
        .image-2 {
            grid-column-start:1;
            grid-row-start: 2;
        }
    }
 /*large  Device*/
@media only screen and (min-width: 1200px) {
    .navbar {
        max-width: 20%;
    }
    .flex-container {
        grid-template-columns: minmax(150px, 20%) minmax(150px, 20%);
    }
}